*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
.row{
    background: white;
    border-radius: 30px;
    /* box-shadow: 12px 12px 22px grey; */
}
img.resize {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 110%;
    max-height: 110%;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #EE2E2E;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Trade-Font';
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: #EE2E2E;
}
label{
    font-weight: bold;
    font-family: 'Segoe UI';
}
.jumbotron-custom{
    background: #EE2E2E;
}
.logo-custom{
    color: white;
    font-family: 'Trade-Font';
}
.small-logo-custom{
    color: white;
    font-family: 'Trade-Font';
}
.top-text{
    color: #EE2E2E;
    font-weight: bold;
    font-family: 'Trade-Font';
}
svg{
    width: 50%;
    background:  #EE2E2E;
}
.awards{
    background: #EE2E2E;
}

@font-face {
    font-family: 'Trade-Font'; /*a name to be used later*/
    src: url(https://www.drinktrade.com/fonts/Platform/Platform-Medium-Web.woff2); /*URL to font*/
}